a gm# Logs

eu sou a lavignya isabella
kkkkkkkkkkk
é para colocar o coisinha de compra e coraaaçaaao ne
vc quer desenvolver isso agr????????
pode ser vou passar a parte do codigo que eu vou mudar para outra pasta e se for eu coloco aqui
OK
tá kskskkks
 tã bão
 TEM UM CHAT AQUI VAMOS CONVERSAR LA
 ai fica + facil
 sim
 estamos tentando achar o chat
 eh na parte do live share
 
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
